body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #333;
}

header {
  background-color: #000000;
  color: white;
  padding: 2rem;
  text-align: center;
  padding: 2rem;
}

nav {
  background: #000000;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff ;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-bottom: 1rem;
}

.profile-picture2{
  width: 200px;
  height: 200px;
  border-radius: 50px;
  border:  3px solid #e8c9c9;
}

.card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}